
body {
  margin-top: 80px;
  margin-left: 10px;
  background-image: url("../images/background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;

}

#chat {
  width: 80%;
  height: 400px;
  overflow: auto;
}

#chatwell {
  margin: 1px;
}
