<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ui-sref="login">Log In</button>
        <button type="button" class="btn btn-default" ui-sref="signUp" >Create Account</button>
        <button type="button" class="btn btn-default" ui-sref="intro">Back to Main Page</button>
      </div>
      </nav>
  </div>

  <div>
    <h1>This is Me!</h1>
    <div id="image">
      <img src="../images/jong.png" />
    </div>
    <p id="song">I want to be the very best, like no one ever was...</p>
    <p id="song">To code is my real test, to learn is my cause...</p>
  </div>
