<!-- Main Chat -->

<div class="container">
  <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="btn-group btn-group-lg" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="vm.logout()">Log out</button>
            <button type="button" class="btn btn-default" ui-sref="privateRoom" >Create Room</button>
            <button type="button" class="btn btn-default">Friends</button>
          </div>
          </nav>
    </div>
<div>

  <div class="btn-group" id="bigdropdown">
  <a class="btn btn-primary btn-lg">Public Chat Rooms</a>
  <a class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a ng-click="vm.mainSwitch()" ng-hide="!vm.mainState"> Main </a></li>
    <li><a ng-click="vm.mksSwitch()" ng-hide="!vm.mksState"> MKS049 </a></li>
    <li><a ng-click="vm.hrSwitch()" ng-hide="!vm.hrState"> HackReactor </a></li>
    <li><a ng-click="vm.hangoutSwitch()" ng-hide="!vm.hangoutState"> The Hangout </a></li>
  </ul>
</div>
<br>
<br>


  <!-- Main -->
  <div id="chat" ng-init="vm.main()" ng-hide="vm.mainState">
    <h2>Main</h2>
    <br>
    <p id="chatwell" class="well well-sm" ng-repeat="msg in vm.msgs track by $index">{{msg}}</p>
  </div>
  <form ng-submit="vm.sendMessageMain()" ng-hide="vm.mainState">
    <input type="text" ng-model="vm.msg.text"/>
    <input type="submit"/>
  </form>

  <!-- MKS -->
  <div id="chat" ng-init="vm.mks()" ng-hide="vm.mksState">
    <h2>MKS049</h2>
    <br>
    <p id="chatwell" class="well well-sm" ng-repeat="msg in vm.mksmsgs track by $index">{{msg}}</p>
  </div>
  <form ng-submit="vm.sendMessageMKS()" ng-hide="vm.mksState">
    <input type="text" ng-model="vm.mksmsg.text"/>
    <input type="submit"/>
  </form>

  <!-- Hackreactor -->
  <div id="chat" ng-init="vm.hr()" ng-hide="vm.hrState">
    <h2>HackReactor</h2>
    <br>
    <p id="chatwell" class="well well-sm" ng-repeat="msg in vm.hrmsgs track by $index">{{msg}}</p>
  </div>
  <form ng-submit="vm.sendMessageHr()" ng-hide="vm.hrState">
    <input type="text" ng-model="vm.hrmsg.text"/>
    <input type="submit"/>
  </form>

  <!-- The Hangout -->
  <div id="chat" ng-init="vm.hangout()" ng-hide="vm.hangoutState">
    <h2>The Hangout</h2>
    <br>
    <p id="chatwell" class="well well-sm" ng-repeat="msg in vm.hangoutmsgs track by $index">{{msg}}</p>
  </div>
  <form ng-submit="vm.sendMessageHangout()" ng-hide="vm.hangoutState">
    <input type="text" ng-model="vm.hangoutmsg.text"/>
    <input type="submit"/>
  </form>


</div>
</div>
