<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="button" class="btn btn-default" ui-sref="login">Log In</button>
        <button type="button" class="btn btn-default" ui-sref="signUp" >Create Account</button>
        <button type="button" class="btn btn-default" ui-sref="about">About the Creator</button>
      </div>
      </nav>
  </div>
<div id="background">
<h1>Welcome to JongChat </h1>
<p>An app with a horrible and unimaginative name.</p>
</div>
