<div class="container">
  <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="btn-group btn-group-lg" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="vm.logout()">Log out</button>
            <button type="button" class="btn btn-default" ng-click="vm.privateLogout()" ui-sref="chatRoom">Public Chat Rooms</button>
            <button type="button" class="btn btn-default">Friends</button>
          </div>
          </nav>
    </div>
<div>
</div>
<h1> ALL MY LIFE ITS MY DESTINY </h1>
<div id="chat" ng-init="vm.privateInit()">
  <br>
  <p id="chatwell" class="well well-sm" ng-repeat="msg in vm.privatemessages track by $index">{{msg}}</p>
</div>
<form ng-submit="vm.sendPrivateMessage()">
  <input type="text" ng-model="vm.privatemessage.text"/>
  <input type="submit"/>
</form>
</div>
